.dices{
    display: flex;
    gap: 80px;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    padding-bottom: 30px;

}

button{
    
    background-image: linear-gradient(360deg, black, rgb(255, 255, 0));
    color: black;
    border: none;
    padding: 20px;
    font-weight: bold;
    border-radius: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.error{
    background-image: linear-gradient(360deg, black, rgb(255, 255, 0));
    text-align: center;
    height: 100vh;
    font-size: 80px;
    font-weight: bolder;
    margin: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hide{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
body{
    margin: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(360deg, black, rgb(255, 255, 0));
}